# dependencies for "PyPDF2"
PyPDF2

# dependencies for "py_pdf_parser"
py_pdf_parser
shapely
pyvoronoi
pandas
wheel
matplotlib

# dependencies for "LlamaParser"
llama-parse
python-dotenv
nest_asyncio

# dependencies for 'PyMUPDF"
pymupdf
ghostscript

# dependencies for 'Camelot"
camelot-py

# dependencies for "Tabula"
tabula-py

# dependencies for document coverage metrics 
sentence-transformers
difflib
nltk
docx

# some other dependencies
pytesseract
transformers
torch
spacy
SentencePiece

# necessary import for llama-parse implementation
# import nest_asyncio
# nest_asyncio.apply()

